<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Note App</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" >
        <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
        <link href="/stylesheet/app.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <nav class="nav navbar-dark bg-dark">
            <div class="container">
                 <a class="nav-link" href="/"> <i class="fa fa-edit"></i> Note App</a>
                  <a class="nav-link float-right" href="/notes/new">New Note</a>
            </div>
        </nav>
